*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.header {
  background-image: url("./assets/header-img.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.header .logo-div {
  width: 100%;
  padding: 20px 0;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.content {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.content .info {
  margin: 30px 30px 10px 30px;
}

.bold {
  font-size: max(15px, 1.3vw);
  font-weight: bold;
}

.italic {
  font-style: italic;
}

fieldset {
  border: none;
  border-top: 1px solid #f9fafb;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 10px 5px 5px #d6d6d6;
  margin-bottom: 30px;
}

fieldset > p {
  margin: -10px 0 10px 0;
}

form .form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 12px;
}

.form-input input {
  height: 25px;
  padding: 5px;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
}

.form-input label {
  font-size: 10px;
  letter-spacing: 1px;
}

form .form-btn {
  border: none;
  border-radius: 5px;
  font-size: 15.2px;
  font-weight: bold;
  color: #fff;
  background-color: #596d48;
  padding: 12px 0;
  width: 180px;
  display: block;
  margin: 10px auto;
}

.login p {
  text-align: center;
  margin-bottom: 20px;
}

.login p span {
  font-size: 16px;
  font-weight: bold;
  color: #596d48;
}

@media only screen and (min-width: 600px) {
  body {
    flex-direction: row;
  }

  .header,
  .content {
    height: 100%;
  }

  .header {
    background-position-x: center;
    align-items: flex-start;
    width: 700px;
  }

  .content {
    justify-content: center;
  }

  .content .info {
    margin-top: 60px;
    width: 65%;
  }

  header .logo-div {
    margin-top: 35%;
  }

  form .form-input input {
    width: 200px;
  }

  form .form-row {
    display: flex;
    gap: 50px;
  }

  form .form-btn {
    margin-left: 2rem;
  }

  .login p {
    text-align: left;
    margin-left: 2rem;
  }
}
